* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #667eea, #764ba2);
    animation: gradientMove 10s infinite alternate;
}

@keyframes gradientMove {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(45deg); }
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(25px);
    padding: 40px;
    width: 420px;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

h1 {
    margin-bottom: 8px;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 25px;
    opacity: 0.8;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: black;
    outline: grey;
    font-size: 14px;
}
button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #23a4db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background: #d70a0a;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.success {
    color: #00ff88;
    font-size: 16px;
}

.error {
    color: #ff4b4b;
    font-size: 14px;
}
.options1 label{
    white-space: nowrap;
    display: flex;
    gap: 172px;             /* space between text and checkbox */
}
.options2 label{
    white-space: nowrap;
    display: flex;
    gap: 120px;
}